html, body {
    padding: 0;
    margin: 0;
   
}

body {
    background-color: rgba(26, 26, 26, 0.541);
    font-family:sans-serif;
    size: 14px;
    
}
 
#menu {
    width: 70%;
    padding-left: 15%;
    padding-right: 15%;
}

#menu_knoppen {
    margin: 20px auto;
    background-color: rgb(255, 255, 255);
    margin: 10px;
    
}

.il_menu {
    font-size: xx-large;
    color: rgb(222, 216, 216);
    background-color: #AAA;
    margin: 3.4%;
    justify-content: space-evenly;
}

.name_menubar {
    text-decoration: solid;
    color: black;
}

.il_menu:hover {
    background-color: yellow;
}

#hoofdpagina_text_één{
    display: flex;
    background-color: white;
    padding: unset;
}
#wat_web{
    color: black;
    padding-left: 2%;
    padding-right: 2%;
    float: left;
}

#___{
    padding-left: 2%;
    padding-right: 2%;
}

#onder{
    width: 100%;
    position: fixed;
    bottom: 0;
    display: flex;
}

#list_onder{
    color: yellow;
    position: absolute;
    bottom: 10px;
    left: 6%;
}