html, body {
    padding: 0;
    margin: 0;
    
}

body {
    background-color: rgba(73, 73, 73, 0.527);
    size: 14px;
    cursor: context-menu; 
    font-family: sans-serif;
    background-size:cover ;
}

a {
    text-decoration: none;
    color: currentColor;
}
/*menu boven*/
#menu {
    width: auto;
    padding-left: 17%;
    padding-right: 10%;
}

#hoofd_menu_box{
    margin-left: 8%;
    margin-right: 8%; 
}
.il_menu {
    font-size: xx-large;
    background-color: rgb(255, 174, 0);
    margin: 3.4%;
    justify-content: space-evenly;
    border-radius: 40px;
    padding-left: 5px;
    padding-right: 5px;
   
    border: 1px;
}

.name_menubar {
    text-decoration: solid;
    color: black;
}

.il_menu:hover {
    background-color: yellow;
}

#hoofdpagina_text_top{
    display: flex;
    background-color: rgb(133, 133, 133);
    margin: 2%;
    margin-left: 10%;
    margin-right: 10%;
    border-top: 5px solid rgb(0, 0, 0);
    border-bottom: 5px solid white;
    border-right: 5px solid white;
    border-left: 5px solid rgb(0, 0, 0);
}
.H_web{
    color: black;
    padding-left: 2%;
    padding-right: 2%;
    float: left;
}

#wie_ben_ik{
    padding-left: 2%;
    padding-right: 2%;
}

#hoofdpagina_text_mid{
    background-color: rgb(133, 133, 133);
    margin: 2%;
    border-top: 5px solid rgb(0, 0, 0);
    border-bottom: 5px solid white;
    border-right: 5px solid white;
    border-left: 5px solid rgb(0, 0, 0);
    margin-left: 10%;
    margin-right: 10%;
    padding-left: 1%;
    display: flex;
}


/*onder menu*/
#onder{
    width: 100%;
    position: fixed;
    bottom: 0;
    display: flex;
    font-family:"SourceSansPro-Regular";
    src:url("SourceSansPro-Regular.ttf") format("truetype");
    
}

#list_onder_verticaal{
    position: absolute;
    left: 6.5%;
    bottom: 10%;
    color: rgb(70, 187, 226);
    list-style: none;
}
.hover_list:hover{
    color:hwb(39 38% 0%);
}

#title_list_onder_verticaal{
    font-size: x-large;
    color:white;
}

#list_onder_horisontaal{
    position: absolute;
    bottom: 10%;
    color: hwb(39 38% 0%);
    padding-left: 35%;
    font-size: large;
    
}


#bronnen{
    margin-left: 300px;
}

#bronnen:hover{
    color:rgb(70, 187, 226);
}

#bronnen_pagina{
    background-color: grey;
    color: whitesmoke;
}
/* html console*/
.box_model_1{
    background-color: rgb(133, 133, 133);
    width: 80%;
    max-height: min-content;
    padding: 10px;
    margin: 4% auto;
    text-align: justify;
    border-top: 5px solid rgb(0, 0, 0);
    border-bottom: 5px solid white;
    border-right: 5px solid white;
    border-left: 5px solid rgb(0, 0, 0);
    display: flex;
}

.title_box{
    font-size: xx-large;
    position: static;
    height: 90%;
    width: 250px;
    margin: aut;
    padding-left: 5%;
    border-right:  white;   
}
.BGC_text{
    position: relative;
    padding-right: 5%;
    padding-left: 5%;    
    margin: auto;
    background-color: 
}

.console_kopen{
    color:rgb(0, 0, 255);
    font-size: large;
    font-weight: bolder;
    background-color: black;
    border-radius: 20px;
    background-size: 300px 100px;
    padding-left: 10px;
    padding-right: 10px;
}
/*htmlgames*/
 
.game {    

    box-shadow: 0px 0px 25px 15px #5855ff;
    margin-left: 25%;
    margin-right: 25%;
    bottom: 0;
    }

#game_1_text{
    position: absolute;
    background-color: rgba(255, 255, 255, 0.432) ;
    top: 22%;
    left: 50%;
    margin-right: -30%;
    transform: translate(-50%, -50%);
    padding: 2px;
    max-width: 30%;
}

#game_2_text{
    position: absolute;
    background-color: rgba(255, 255, 255, 0.432) ;
    top: 100%;
    left: 50%;
    margin-right: -30%;
    transform: translate(-50%, -50%);
    padding: 2px;
    max-width: 30%;
}

#game_3_text{
    position: absolute;
    background-color: rgba(255, 255, 255, 0.432) ;
    top: 140%;
    left: 42%;
    margin-right: -30%;
    transform: translate(-50%, -50%);
    padding: 2px;
    max-width: 27%;
}

#game_4_text{
    position: absolute;
    background-color: rgba(255, 255, 255, 0.432) ;
    top: 225%;
    left: 50%;
    margin-right: -30%;
    transform: translate(-50%, -50%);
    padding: 2px;
    max-width: 30%;
}

#game_5_text{
    position: absolute;
    background-color: rgba(255, 255, 255, 0.432) ;
    top: 270%;
    left: 40%;
    margin-right: -30%;
    transform: translate(-50%, -50%);
    padding: 2px;
    max-width: 25%;
}

#game_6_text{
    position: absolute;
    background-color: rgba(255, 255, 255, 0.432) ;
    top: 310%;
    left: 70%;
    margin-right: -30%;
    transform: translate(-50%, -50%);
    padding: 2px;
    max-width: 10%;
}

/*bronnen*/
#gemaakt_door{
    color: black;
    font-size: xx-large;
    font-weight: 300;
}

#hoofd_menu_bronnen{
    font-size: xx-large;
    font-weight: bold;
}

