html, body {
    padding: 0;
    margin: 0;
    
}

body {
    background-color: rgba(73, 73, 73, 0.527);
    size: 14px;
    cursor: context-menu; 
    font-family: sans-serif;
}
 
#menu {
    width: 70%;
    padding-left: 15%;
    padding-right: 15%;
}

#menu_knoppen {
    margin: 20px auto;
    background-color: rgb(255, 255, 255);
    margin: 10px;
    
}

a {
    text-decoration: none;
    color: currentColor;
}
.il_menu {
    font-size: xx-large;
    color: rgb(222, 216, 216);
    background-color: #AAA;
    margin: 3.4%;
    justify-content: space-evenly;
}

.name_menubar {
    text-decoration: solid;
    color: black;
}

.il_menu:hover {
    background-color: yellow;
}

#hoofdpagina_text_top{
    display: flex;
    background-color: white;
    padding: unset;
}
#wat_web{
    color: black;
    padding-left: 2%;
    padding-right: 2%;
    float: left;
}

#wie_ben_ik{
    padding-left: 2%;
    padding-right: 2%;
}

#hoofdpagina_text_mid{
    background-color: white;

}
#onder{
    width: 100%;
    position: fixed;
    bottom: 0;
    display: flex;
    font-family:"SourceSansPro-Regular";
    src:url("SourceSansPro-Regular.ttf") format("truetype");
    
}

#list_onder_verticaal{
    position: absolute;
    left: 6.5%;
    bottom: 0%;
    color: rgb(70, 187, 226);
    list-style: none;
}
.hover_list:hover{
    color:hwb(39 38% 0%);
}

#title_list_onder_verticaal{
    font-size: x-large;
    color:white;
}

#list_onder_horisontaal{
    position: absolute;
    left: 20%;
    bottom: 0%;
    color: hwb(39 38% 0%);
    padding-left: 15%;
    font-size: large;
    
}

#leerling_nummer{
   background-color: hwb(39 38% 0%);
   font-size: large;
}

#leerling_nummer:hover{
    background-color: black;
}
#bronnen{
    margin-left: 300px;
}

#bronnen:hover{
    color:rgb(70, 187, 226);
}

#bronnen_pagina{
    background-color: grey;
    color: whitesmoke;
}

.box_model_1{
    background-color: rgb(80, 80, 80);
    width: 80%;
    max-height: min-content;
    padding: 10px;
    margin: 4% auto;
    text-align: justify;
    border-top: 5px solid rgb(0, 0, 0);
    border-bottom: 5px solid white;
    border-right: 5px solid white;
    border-left: 5px solid rgb(0, 0, 0);
    display: flex;
}

#title_box{
    font-size: xx-large;
    position: static;
    height: 90%;
    width: 250px;
    margin: aut;
    padding-left: 5%;
    border-right:  white;   
}
.BGC_text{
    position: relative;
    padding-right: 5%;
    padding-left: 5%;    
    margin: auto;
    background-color: 
}

.console_kopen{
    color:rgb(0, 0, 255);
    font-size: large;
    font-weight: bolder;
    background-color: black;
    border-radius: 20px;
    background-size: 300px 100px;
    padding-left: 10px;
    padding-right: 10px;
}