
body {
<<<<<<< HEAD
    background-image: url(https://images8.alphacoders.com/490/490274.jpg); 
    color: white;
    background-size: cover;
}


=======
    background-color: #ad4949
}

>>>>>>> 349a5c1 (	new file:   overMij/cat_rood_ligen.jpg)
.norm_text{ font-family: Arial, Helvetica, sans-serif;
font-size: large;
} 

.e{ font-family: Arial, Helvetica, sans-serif;}

.title_plaatje{font-size: xx-large;
    font-weight: 2000;
    font-variant-caps: all-petite-caps;
}

#wekken{ 
    color: #356bff;
    font-size: large;
}
<<<<<<< HEAD
.gamen{
=======
#gamen{
>>>>>>> 349a5c1 (	new file:   overMij/cat_rood_ligen.jpg)
    color: rgb(112, 161, 253);
    font-size: lagre;    
}
#studie{
    color: hsl(212, 100%, 77%);
    font-size: large;
}
#eten{ 
    color: #9dcdff;
    font-size: medium;
}
#slaap{ color: #3923ff;
    font-size: medium;
}
<<<<<<< HEAD

.start{
    font-size: 1cm;
    font-weight: 900;
}
=======
>>>>>>> 349a5c1 (	new file:   overMij/cat_rood_ligen.jpg)
